<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>

  </nz-header>
  <nz-layout>
    <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'light'" style="">
          <li nz-menu-item [nzSelected]='activedMenuItem=="staffWorkLog"'><a [routerLink]="'staffWorkLog'">工作记录</a></li>
          <li nz-menu-item [nzSelected]='activedMenuItem=="staffConfig"'><a [routerLink]="[ 'staffConfig' ]">用户设置</a> </li>
          <li nz-menu-item>nav 3</li>
      </ul>
  </nz-layout>
  <nz-layout>
    <!-- <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" >
        <ul nz-menu  [nzMode]="isCollapsed?'vertical':'inline'" [nzTheme]="'dark'" style="width: 100%;">
           <li nz-submenu [nzOpen]="false">
               <span title><i class="anticon anticon-user"></i><span class="nav-text">subnav 1</span></span>
               <ul>
                <li nz-menu-item>option 1</li>
                <li nz-menu-item>option 2</li>
                <li nz-menu-item>option 3</li>
                <li nz-menu-item>option 4</li>
               </ul>
           </li>
           <li nz-submenu>
               <span title><i class="anticon anticon-laptop"></i><span class="nav-text">subnav 2</span></span>
               <ul>
                <li nz-menu-item>option 5</li>
                <li nz-menu-item>option 6</li>
                <li nz-menu-item>option 7</li>
                <li nz-menu-item>option 8/li>
               </ul>
           </li>
        </ul>
    </nz-sider> -->
    <nz-layout style="padding: 12px 12px;">
      <!-- <nz-breadcrumb [nzSeparator]="'>'" style="margin:12px 0;">
          <nz-breadcrumb-item>
              Homen
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            List
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <nz-content style="background:#fff;padding:24px;min-height:280px;">
         <div class="main"><router-outlet></router-outlet></div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
